@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --warna1: #00FFFF;
    --warna2: #7FFFD4;
    --warna3: #454B1B;
    --warna4:  #088F8F;
    --warna5: #AAFF00;
    --warna6: #5F9EA0;
    --warna7: #097969;
    --warna8: #AFE1AF;
}

*{
    font-family: 'Rubik', sans-serif;
}

body{
    background-color: var(--warna2);
}
h1{
    font-weight: 700;
}
p{
    margin-bottom: 0;
}
.kolom-kategori{
    padding: 5px;
}   
.kolom-kategori .kartu-kategori{
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
    color: var(--warna4);
    border-radius: 20px;
    padding: 20px;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.527),
                5px 5px 7px rgba(0, 0, 0, 0.267);
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}
.kolom-kategori .pilih{
    background-image: linear-gradient(to bottom right, var(--warna4), var(--warna8));
    color: white;
}
.kolom-kategori .pilih-genre{
    background-image: linear-gradient(to bottom right, var(--warna4), var(--warna8));
    color: white;
}
.kolom-kategori .kartu-kategori p{
    text-transform: capitalize;
}
.row-button{
    justify-content: center;
    padding: 0 20px;
}
.tombol-selesai{
    padding: 20px 0px;
    background-color: rgba(255, 255, 255, 0.281);
    border-radius: 15px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.466);
    text-align: center;
    cursor: no-drop;
}
.tombol-selesai.nyala{
    background-color: var(--warna7);
    color: white;
    cursor: pointer;
}


.kotak-film{
    font-weight: 800;
}
.rekomendasi{
    background-color: var(--warna4);
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 15px;
    margin-bottom: 25px;
}
.judul-rekomendasi{
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 25px;
}


.card-text{
    max-height: 150px;
    overflow: auto;
}

.card-text::-webkit-scrollbar {
    width: 8px;
}

  /* Track */
  .card-text::-webkit-scrollbar-track {
    background: transparent;
}

  /* Handle */
  .card-text::-webkit-scrollbar-thumb {
    background: var(--warna4);
    border-radius: 10px;
}

  /* Handle on hover */
  .card-text::-webkit-scrollbar-thumb:hover {
    background: var(--warna5);
}
.gambar-kartu{
    height: 200px;
    object-fit: cover;
}
.pemain{
    height: 100px;
    overflow: auto;
}
.genre{
    color: rgba(0, 0, 0, 0.76);
    font-size: 14px;
}