.hero-full-container{
    border: 70px solid #fff;
    border-style: none none solid none;
}
.container-genre{
    padding: 0;
}
.kolom-genre{
    padding: 15px;
}
.kolom-genre div{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    background: #000000;
    box-shadow:  5px 10px 15px #b8b8b8,
                -5px -10px 15px #ffffff;
    border: 5px solid transparent;
    cursor: pointer;
}
.kolom-genre div:hover{
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    background: white;
    box-shadow: none;
    border: 5px solid black;
}