section{
    padding-top: 60px;
    padding-bottom: 60px;
    background: linear-gradient(311deg, rgba(245,173,15,1) 0%, rgba(252,207,101,1) 100%);
}
.container-lg{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.row{
    width: 100%;
}
.kolom-kategori{
    padding: 5px;
}   
.kolom-kategori .kartu-kategori{
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 20px;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.527),
                5px 5px 7px rgba(0, 0, 0, 0.267);
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}
.kolom-kategori .pilih{
    background-color: white;
}
.kolom-kategori .pilih::after{
    position: absolute;
    content: "";
    right: -40px;
    top: 20px;
    background-color: black;
    width: 140px;
    height: 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.267);
    transform: rotate(45deg);
}
.kolom-kategori .kartu-kategori p{
    text-transform: capitalize;
}

p{
    margin: 0;
    font-weight: 500;
}
h1, h3{
    color: white;
    text-shadow: 2px 2px 2px black;
}

.row-button{
    justify-content: center;
    padding: 0 20px;
}
.tombol-selesai{
    padding: 20px 0px;
    background-color: rgba(255, 255, 255, 0.281);
    color: rgba(255, 255, 255, 0.37);
    border-radius: 15px;
    font-weight: 700;
    text-align: center;
    cursor: no-drop;
}
.tombol-selesai.nyala{
    background-color: black;
    color: white;
    cursor: pointer;
}
@media (min-width: 991.98px) {
    .kolom-kategori .kartu-kategori:hover{
        background-color: white;
        transform: scale(1.1);
    }
}
@media (max-width: 991.98px) {
    .kolom-kategori {
        padding: 5px;
    }
    .kolom-kategori .kartu-kategori {
        padding: 0;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 5px;
    }
    .kolom-kategori .pilih::after{
        right: -60px;
        top: 20px;
        width: 140px;
        height: 20px;
    }
}
