@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Poppins&display=swap');

/* Navbar */
nav {
    background-color: #A4BE7B;
}

.navbar-brand {
    font-family: 'Bad Script', cursive;    
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
}

.navbar-nav {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight:300;
}
nav .btn {
    font-family: 'Poppins', sans-serif;
    width: 130px;
    height: 45px;
    background-color: #285430;
    font-weight: 500;
    font-size: 16px;
    border: none;
    color: white;
    margin-right: 0;
}

nav .btn:hover {
    background-color: white;
    color: black;
}


/* carousel */
.carousel {
    height: 400px;
}
.carousel img {
    height: 400px;
    object-fit: cover;
}

/* Informasi */

.container h3 {
    text-transform: uppercase;
}

.container .card-title {
    text-align:center;
}

.container .card {
    margin-bottom: 20px;
}