@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Poppins&display=swap');

/* Navbar */
:root {
    --warna1: #A4BE7B;
    --warna2: #285430;
    --warna3: #04330d;
}

nav {
    background-color: var(--warna1);
}

.navbar-brand {
    font-family: 'Bad Script', cursive;    
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
}

.navbar-nav {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight:300;
}
nav .btn {
    font-family: 'Poppins', sans-serif;
    width: 130px;
    height: 45px;
    background-color: var(--warna2);
    font-weight: 500;
    font-size: 16px;
    border: none;
    color: white;
    margin-right: 0;
}

nav .btn:hover {
    background-color: white;
    color: black;
}


/* carousel */
.carousel {
    height: 400px;
}
.carousel img {
    height: 400px;
    object-fit: cover;
}


.tombol{
    background-color: var(--warna1);
    color: var(--warna3);
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    border: 2px solid var(--warna1);
}

.tombol-belum{
    background-color: var(--warna3);
    color: var(--warna1);
    border: 2px solid var(--warna3);
}

.tombol:hover{
    background-color: transparent;
    color: var(--warna3);
    border: 2px solid var(--warna3);
}

.tombol-belum:hover{
    background-color: transparent;
    color: var(--warna3);
    border: 2px solid var(--warna3);
}