
:root{
  --warna1 : #5f2f86;
  --warna2 : #824dad;
  --warna3 : #451869;
  --warna4 : #f7efff;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #0563bb;
  text-decoration: none;
}

a:hover {
  color: #067ded;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.kolom-kiri{
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100vh;
  padding-left: 130px;
  color: var(--warna3);
}

.judul{
  font-weight: 700;
  font-size: 30px;
}
.sub-judul{
  font-size: 24px;
  margin-bottom: 20px;
}

.kolom-kanan{
  padding-right: 130px;
  display: flex;
  align-items: center;
  background-color: var(--warna4);
}

.kolom-kanan img{
  width: 100%;
}

.tombol{
  padding: 10px 15px;
  background-color: var(--warna3);
  color: white;
  font-weight: 700;
  border: 2px solid var(--warna3);
}

.tombol:hover{
  color: var(--warna3);
  background-color: transparent;
}

@media (max-width: 992px) {
  .kolom-kiri {
    justify-content: center;
    height: auto;
    padding: 50px 20px;
    color: var(--warna3);
    text-align: center;
  }
  .kolom-kanan {
    padding:20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--warna4);
  }
  .kolom-kanan img{
    width: 60%;
  }
}